<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Poll Admin</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/my_polls.css" types="text/css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Scope+One&display=swap"
      rel="stylesheet"
    />

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"
    ></script>
  </head>
  <%-include("partials/_header") %>

  <body>
    <main>
      <h1>Here are your polls</h1>
    </main>
    <form class="slider" id="checkPoll">
      <label class="email-label" for="adminEmail">Email</label>
      <input type="email" id="adminEmail" placeholder="your@email.com" />
      <button class="clickbtn" type="submit">Check your results here</button>
    </form>
    <canvas
      id="myChart"
      height="30%"
      width="70%"
      style="display: none"
    ></canvas>
    <script type="text/javascript">
      /**
       * Function to sort array based on rank sum
       */
      function compare(a, b){
        if(Number(a.sum) > Number(b.sum)){
          return -1;
        }else if(Number(a.sum) > Number(b.sum)){
          return 1;
        }else{
          return 0;
        }
      }
      /**
       * function to generate random color in hex form
       */
      function getRandomColorHex() {
        var hex = "0123456789ABCDEF",
          color = "#";
        for (var i = 1; i <= 6; i++) {
          color += hex[Math.floor(Math.random() * 16)];
        }
        return color;
      }

      let ctx = "myChart";
      const templateArray = <%- JSON.stringify(data) %>.sort(compare);
      const chartTitle = <%- JSON.stringify(title) %>;
      const question = <%- JSON.stringify(description) %>;
      const data_array = [];
      const descriptions_array = [];
      templateArray.forEach(object => {
        data_array.push(object.sum)
        descriptions_array.push(object.data)
      })
      Chart.defaults.global.defaultFontFamily = "'Scope One', serif";
      Chart.defaults.global.defaultFontSize = 25;
      let myChart = new Chart(ctx, {
        type: 'horizontalBar',
        data: {
          labels: descriptions_array,
          datasets: [{
            label: "Votes",
            data: data_array,
            backgroundColor: [
              getRandomColorHex(),
              getRandomColorHex(),
              getRandomColorHex(),
              getRandomColorHex(),
              getRandomColorHex(),
              getRandomColorHex(),
              getRandomColorHex(),
              getRandomColorHex(),
              getRandomColorHex(),
              getRandomColorHex()
            ],
            borderColor: [
              "#111",
              "#111",
              "#111",
              "#111",
              "#111",
              "#111",
              "#111",
              "#111",
              "#111",
              "#111"
            ],
            borderWidth: 2
          }]
        },
        options: {
          legend: {
            display: false,
          },
          responsive: true,
          maintainAspectRatio: true,
          title: {
            display: true,
            text: [chartTitle, question],
            fontSize: 50,
            padding: 10
          },
          scales: {
            xAxes: [{
              ticks: {
                beginAtZero: true,
                stepSize: 1
              },
              gridLines: {
                display: false
              }
            }],
            yAxes: [{
              gridLines: {
                display: false
              }
            }]
          },
          layout: {
            padding: {
              left: 20,
              right: 100,
              top: 30,
              bottom: 30
            }
          }
        }
      });
    </script>
    <script>
      $('#checkPoll').submit(function(e) {
        const input = $('#adminEmail').val();
        e.preventDefault();
        if (input === <%-JSON.stringify(email) %>)
        {
        $('#checkPoll').hide()
        $('#myChart').slideDown('slow');
        } else {
          alert('wrong email')
        }
      })
    </script>
  </body>
</html>
