<!DOCTYPE html>
<html lang="en">

<head>
  <title>Poll Voting</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link href="https://fonts.googleapis.com/css2?family=Scope+One&display=swap" rel="stylesheet">

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
</head>
<%-include("partials/_header") %>

<body>
  <main class = 'container'>
    <form action="/user/:pollId" method="POST">
    <h1>Submit your vote</h1>
    <%= dummy.poll_title %>
    <%= dummy.poll_question %>
    <%= dummy.option[0] %>
    <%= dummy.option[1] %>
    <%= dummy.option[2] %>
      <button class="make-a-poll" type="submit">Submit</button><br>
  </form>
</body>
<script type="text/javascript" src="../public/scripts/client.js"></script>

</html>
